<div class="page">
        <div class="d-flex flex-column align-items-center pt-5">
           <!-- <div class="head m-3">
               <h1 class="display-4">Login</h1>
           </div> -->
           <form class="card text-white bg-secondary mb-3 mr-2 ml-2 form" style="width: 400px" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div class="card-header">
                <h1 class="display-4">Login</h1>
            </div>  
            <div class="card-body">
     
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" aria-describedby="nameHelp" formControlName="username" placeholder="Enter Name">
                        <ng-container *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)">
                            <small *ngIf="loginForm.controls.username.errors?.required"  id="nameHelp" class="form-text text-danger error">Name field is required</small>
                        </ng-container>
          
                    </div>
          
                   <div class="form-group">
                       <label for="Password">Password</label>
                       <input type="password" class="form-control" id="Password" formControlName="password" aria-describedby="passwordHelp" placeholder="Enter password">
                       <small id="passwordHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
                       <ng-container *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
                           <small *ngIf="loginForm.controls.password.errors?.required"  id="passwordHelp" class="form-text text-danger error">Password field is required</small>
                           <small *ngIf="loginForm.controls.password.errors?.minlength"  id="passwordHelp" class="form-text text-danger error">MinLength</small>
                       </ng-container>
                   </div>
     

     
                   <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
               </div>
               <div class="cart-footer" >
     
               </div>
             </form>
             <div *ngIf="error" class="alert alert-danger">
                {{error}}
             </div>
             <div>
                    Not a member ? <a routerLink="/auth/register" href="javascript:void(0)">Register</a>
            </div>
           </div>
     </div>