@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.cartLabel {
  border: 1px solid #fff;
  border-radius: 20px;
 

  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;

 padding: 5px 10px;
 font-weight: 900;

 background: #fff;
 color: $main-color

}