@import "src//theme/theme-variables.scss";

.jumbotron {
  padding: 2rem
}

button.list-group-item:enabled {
  cursor: pointer ;
}

@media(max-width: 992px){
  .products {
    justify-content: center
  }
}
